@import './variables.scss';

.signup-form-container, .login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 50px;
  height: 600px;
  font-family: $Crimson;
}

.signup-form-heading, .login-form-heading {
  font-family: $Oswald;
  font-size: 40px;
}

.signup-form, .login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  height: 300px;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 0px 0px 0px rgb(70, 70, 70);
  font-size: 20px;
}

.login-form {
  height: 250px;
}

.signup-form-field > input, .login-form-field > input {
  width: 220px;
}
    
.signup-form-field > input::placeholder, .login-form-field > input::placeholder {
  color: rgb(180, 180, 180);
}

.signup-form > input[type="submit"], .login-form > input[type="submit"] {
  font-family: $Oswald;
  // background-color: aquamarine
}