@import './variables.scss';


.comment-submit{
  padding: 0.4rem;
  border-radius: 10px;
  font-family: $Oswald;
}

.comment-submit:hover {
  background-color: #800080;
}



.comment-form-container{
  width: 300px;
  border-radius: 10px;
}
.comment-form{
  width: 300px;
  display:flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 4px 2px rgba(35, 35, 35, 0.15);
  border-radius: 10px;
    font-family: $Oswald;

}

.comment-form input[type="textarea"] {
  margin-left: 10px;
  width: 220px;
}

.comments-container{
  position: fixed;
  top: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  line-height: 1.5;
  width: 25%;
  font-family: $Crimson;
  background-color: #fff;
  // width: 300px;
}

.comment-sidebar-body{
  // max-height: 80vh;
  position: fixed;
  overflow-y: scroll;
  top: 110px;
  right: 15px;
  bottom: 50px;
  overflow: auto;
  // display: block;
  color: black;
  line-height: 1.5;
  font-family: $Oswald;
  // height: 100%;
}
.comment-sidebar-list-item{
  list-style: none;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  font-family: $Oswald;
  color: #333;
  font-size: 16px;
}

.list-item-container{
  margin: 1px;
  background-color: rgb(235, 230, 220);
  border: 1px solid white;
  border-radius: 4px;
  text-align: center;
  max-width: 300px;
  width: inherit;
  overflow-wrap: break-word;
}



.comment-form{
  width: 300px;
  display:flex;
  justify-content: space-between;
  position: fixed;
  bottom: 10px;
  right: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 1px 4px 2px rgba(100, 100, 100, 0.15);
}

.comment-submit{
  background-color: #750075;
  color: white;
  padding: 0.4rem;
  letter-spacing: 0.1em;
border-top-left-radius: 0;
border-bottom-left-radius: 0;

  font-family: 'Roboto';
  font-weight: bold;
}

#commentBoxHeader {
  position: fixed;
  top: inherit;
  right: 0px;
  z-index: 1;
  background-color: white;
  margin: 0;
  width: 25%;
  padding-top: 5px;
  font-size: 24px;
  color: #750075;
}