@import './variables.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto');

.app {
  height: 100%;
}

.splash-image {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  opacity: 0.9;
  background:
  linear-gradient(
      rgba(255, 0, 0, 0.45), 
      rgba(255, 0, 0, 0.45)
    ),
    /* bottom, image */
    url(https://images.unsplash.com/photo-1504868584819-f8e8b4b6d7e3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80);
}

.main-page {
  height: calc(100vh - 80px);
  background: 
    rgba(0, 0, 0, 0.5);
    overflow: hidden;
  
}

.main-page-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 93%;
  background-position: fixed;
}

.main-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 850px;
  border-radius: 20px;
  text-align: center;
  margin-top: -30px;
}

.main-page-content-head > h1 {
  margin: 10px;
  font-family: $Oswald;
  font-size: 60px;
  margin: 0;
  color: #f1f1f1;
  font-weight: bold;
  text-align: center;
}

.main-page-content > h2 {
  margin: 10px;
  font-family: $Oswald;
  font-size: 30px;
  margin: 0;
  color: #f1f1f1;
  padding-bottom:20px;
  padding-top:20px;
  font-weight: bold;
}

.main-page-content > p {
  margin: 10px;
  font-family: $Oswald;
  font-size: 20px;
  margin: 0;
  color: #f1f1f1;
  padding-bottom:20px;
}

.main-page-button {
  padding: 10px;
  margin: 30px;
  font-family: $Oswald;
  font-weight: 500;
  font-size: 24px;
  color: #f1f1f1;
  border-radius: 10px;
  height: 50px;
  width: 180px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid  rgba(255, 255, 255, 0.5);
}

.main-page-button:hover {
  background: rgba(255, 255, 255, 0.7);
  color: #333;
}

.main-page-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  padding: 10px
}

.main-page-footer > p {
  margin: auto 20px;
  font-family: $Oswald;
  font-size: 18px;
}

.main-page-info {
  font-family: $Oswald;
  height: 500px !important;
  background: #ededed;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-page-info-content{
  height: 400px;
  width: 300px;
  font-size: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.main-page-about {
    font-family: $Oswald;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 400px;
  background: #efefef;
}

.main-page-about img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.main-page-about span {
  width: 50%;
}

.main-arrow {
  position: absolute;
  top: 95.5vh;
  z-index: 999999;
  color: #999;

}