@import './variables.scss';



.navbar-container {
  position: sticky;
  top: 0;
  background: 
      rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
    z-index: 9900009 !important;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: auto;
  padding-top: 5px;
  // border-bottom: 4px double rgb(83, 75, 92);
  background: transparent;
}

.navbar-title {
  margin-left: 50px;
  font-family: $Oswald;
  font-size: 50px;
  font-weight: 600;
}

.navbar-links {
  margin-right: 50px;
  display: flex;
  justify-content: space-between;
  
}

.navbar-links > a, .navbar-links > h6, .navbar-links > button {
  margin-left: 10px;
  font-family: 'Roboto';
  font-size: 18px;
  padding: 10px;
}

.navbar-links > h6 {
  font-size: 22px;
}

.navbar-links > button:hover {
  cursor: pointer;
}

.navbar-links > a:hover, .navbar-links > button:hover {
  background-color: rgba(233, 236, 243, .3);
  padding: 10px;
  border-radius: 20px;
}