@import './variables.scss';


.search-page, .results-page {
  width: 75%;
}

.results-page {
  width: calc(100vw - 300px);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.results-page-graphs {
  display: flex;
  justify-content: center;
}

.candidates h2 {
  font-family: $Oswald;
  font-size: 24px;
}

.candidates{
  justify-content: center;
  width: 650px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  top: 230px;
  position: absolute;
}
.candidates-names {
  padding: 3px 8px;
  background-color: #87ceeb;
  border-radius: 4px;
  text-align: center;
  margin-top: 8px;
  margin-right: 8px;
  font-size: 16px;
  font-family: $Oswald;
  height: 30px;
  display: flex;
  align-items: center;


}
.candidates-names:hover{
  cursor: pointer;
}
.candidates-names-ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 600px;
}

.browse-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
}



.search-bar {
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  padding: 15px 20px;
  box-shadow: 0px 1px 4px 2px rgba(35, 35, 35, 0.15);
  height: 20px;
  width: 700px;
  font-family: $Oswald;
  font-size: 30px;
  margin-right: 0;
  border-radius: 10px;
}

.search-button {
  box-shadow: 0px 1px 1px 2px rgba(35, 35, 35, 0.15);
  font-weight: bold;
  font-family: $Oswald;
  font-size: 24px;
  font-weight: 500;
  background-color: #ddd;
  color: #111;
  margin-left: 10px;
  height: 52px;
  width: 52px;
  text-align: center;
  border-radius: 10px;
}

.search-button:hover {
  background-color: #cdcdcd;
  cursor: pointer;

}

.graph-container {
  display: flex;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width:450px !important;
}

.chart-container {
  position: relative;
  width: 80%;
}

.sentiment-chart-container {
  height: 55vh;
}

.emotions-chart-container {
  height: 58vh;
}

.methodology-container {
  margin: 0;
}

.search-spinner, .search-fail {
  position: relative;
  left: 30vw;
}

.search-fail {
  position: relative;
  top: 10vh;
  left: 16vw;
  font-size: 24px;
  color: #750075;
  font-family: $Oswald;
}