@import './variables.scss';

.tweets-list {
  width: 65%;
  margin: auto;
  background-color: cyan;
}

.tweets-list > li {
  margin: auto 20px;
  padding: 20px 0px;
  border-bottom: 1px solid purple;
  font-family: $Crimson;
  font-size: 16px;
}