@import './variables.scss';

.tweets-list {
  width: 60%;
  margin: auto;
  background-color: rgb(255, 255, 255);
  height: 200px;
  overflow: auto;
}

.tweets-list > li {
  margin: auto 20px;
  padding: 20px 0px;
  border-bottom: 1px solid rgb(162, 152, 172);
  font-family: $Oswald;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 20px;
}